<h1>Edit <%= model_class %></h1>

<a data-type="back">Back</a>

<form>
<% fields.each do |field| %>
  <label for="<%= field %>"><%= field.titleize %></label>
  <input id="<%= field %>" name="<%= field %>" type="text" value="<%%= @<%= field %> %>" required <%- field == fields.first ? "autofocus" : "" %>>
  <br />
<% end %>

  <button>Edit</button>

</form>